section:nth-of-type(1) .h1{
    position: relative;
}

h1{
    position: absolute;
    left:1.8em; right:1em; top:6em; bottom:0em;
    background-color: transparent;
    justify-content: space-around;
    justify-content: center;
    flex-direction: column;
}

section:nth-of-type(1).image{
    width: 100vh;
	height: 100vh;
    padding-left: 1em;
    padding-right: 1em;
    background-color: red;
    /* overflow:hidden; */
}
