@font-face {
	font-family: "styrene-a_normal";
	src: url("../fonts/styrene-a_normal_400.woff") format('truetype');
	font-weight: 400;
}


@font-face {
	font-family: "styrene-a_normal";
	src: url("../fonts/styrene-a-med_normal_500.woff") format('truetype');
	font-weight: 500;
}


@font-face {
	font-family: "styrene-a_normal";
	src: url("../fonts/styrene-a_normal_700.woff") format('truetype');
	font-weight: 700;
}


*, *::after, *::before {
  box-sizing:border-box;  
}

* {
	border:solid 1px red;
}

:root {
	--color-text:#ffffff;
	--color-hamburgerMenu: white;
	--color-background:#000000;
	--color-date: rgb(219, 209, 209);
	--color-footer-text:  rgb(219, 209, 209);
	--color-footer-rights: rgb(101, 100, 100);
	--color-button: white;
	--color-buttontekst: #000000;
	--color-input: rgb(39, 36, 36);
	--color-border-nav: rgb(84, 84, 84);
	--color-hover: rgb(69, 69, 69);
}


/* overall styling */


*{
	margin: 0;
	color: var(--color-text);
	font-family: 'styrene-a_normal', Times, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: var(--color-background)
}

/* https://www.w3schools.com/howto/howto_css_responsive_text.asp */

@media screen and (max-width: 766px) {
	h1 {
	  font-size: 200%;
	}
  }
  
@media screen and (min-width: 767px) {
	h1 {
	  font-size: 300%;
	}
  }

@media screen and (min-width: 1439px) {
	h1 {
	  font-size: 400%;
	}
  }

h3{
    font-size: 105%;
}

ul {
	list-style: none;
	margin:0;
	padding:0;
}

img {
	max-width:100%;
}

a{
	text-decoration: none;
}

a:hover{
	color: var(--color-hover);
	cursor: pointer;
}

span:hover{
	color: var(--color-hover);
	cursor: pointer;
}

.visually-hidden {                      /* https://www.a11yproject.com/posts/how-to-hide-content/ */
	position: absolute;
	left:-9999em;
}


/*hamburger menu*/


button{
	position: relative;
	border: none;
	background-color: transparent;
	width: 2em;
	cursor: pointer;
}

button > span{
	position: absolute;
	display: block;
	height: 0.15em;
	width: 1.8em;
	/* margin-left: 2em; */
	background: var(--color-hamburgerMenu);
}


/* header  */


header button span:nth-of-type(1){
	transform: translateY(-.4em);
}

header button span:nth-of-type(2){
	transform: translateY(.05em);
}

header button span:nth-of-type(3){
	transform: translateY(.5em);
}

header {
	display:flex;
	justify-content:space-between;
	z-index: 9999;
	position: relative;

	background-color: red;
}

header > a {
	z-index:100;
}

header > button {
	z-index:100;
	padding-right: 3em;
	cursor: pointer;
}

header nav {
	position:fixed;
	inset:0;
	transform:translateX(100%);
	transition:.3s;
	background-color: var(--color-background);
}

header nav.open {
	transform:translateX(0%);
}

header img{
	padding-top: 1em;
}

@media screen and (min-width: 390px) {
	header img {
	  width: 160px;
	}
  }
  
@media screen and (max-width: 766px) {
	header img {
	  width: 100px;
	}
  }

header nav li{
	font-size: 120%;
	line-height: 3em;
	border-bottom: .09em solid var(--color-border-nav);

	margin-left: 1.5em;
	margin-right: 1.5em;
}

header ul :nth-of-type(1){
	border-bottom: none;
}

header nav form{
	padding-top: 3.5em;
}

nav li input{
	background-color: var(--color-input);
	padding: 1em 1em 1em 1em;
	width: 100%;
	max-width: 26em;
	border: 0.1em var(--color-border-nav) solid;
}

header li > img{
	margin: 1.5em 0em 1em 1.2em;
}

details li > a{
	color: aquamarine;
	font-size: 80%;
}


/*footer*/

footer{
	padding-bottom: 3em;
}

footer a > img{
    max-width: 190px;
	max-height: auto;
	padding: 1.5em 0em 2em 0em;
}


/* newsletter form */


footer section:nth-of-type(1) h2 {
	font-size: 130%;
	margin: 1em 0em .5em 1.1em;
}

footer section:nth-of-type(1) p{
	margin-left: 1.6em;
	margin-right: 1.5em;
	font-size: 85%;
	color: var(--color-footer-text)
}

footer section:nth-of-type(1) form{
	margin: 1.5em 1em 1em 1.3em;			
}

footer section:nth-of-type(1) input{
	background-color: var(--color-input);
	padding: 1em 1em 1em 1em;
	width: 100%;
	max-width: 690px;
	border: 0.1em var(--color-border-nav) solid;
}

footer > p{
	margin: 1em 1em .5em 1.7em;
	font-size: 85%;
	color: var(--color-footer-text)
}

footer h5{
	font-size: 130%;
	padding: 1.5em 0em .5em 1.1em;
}

/* careers */


.exploreCareers{
	display: inline-block;
	/* padding: 1.5em 15em 1.5em 7em; */
	max-width: 217px;
	text-align: center;
	text-transform: uppercase;
	/* margin: 1.5em 5em 1em 2.2em; */
	margin-left: 2.2em;
	margin-top: 1.5em;
	font-size: 70%;
}

footer > button{
	background-color: var(--color-button);
	color: #000000;
	padding: 1em 8em 1em 2em;
	text-align: center;
}

footer section:last-of-type p{
	margin: 3.5em 1.8em 1.8em 2.5em;
	border-top: .09em solid var(--color-border-nav);
	padding-top: 1.5em;
	color: var(--color-footer-rights);
	font-size: 74%;
}


/*ul footer*/


footer > ul{                          /*  https://www.w3docs.com/snippets/html/how-to-display-an-unordered-list-in-two-columns.html */
	margin: 0em 1.8em 0em 1.8em;
	columns: 2;
}

footer > ul li{
	margin-bottom: 1em;
	border-bottom: .09em solid var(--color-border-nav);
	padding-bottom: .8em;
}

footer ul :nth-of-type(6){
	border-bottom: none;
}

footer ul :nth-of-type(12){
	border-bottom: none;
}

footer section:nth-of-type(2) ul{
	margin: 0;
	columns: 5;
	max-width: 40em;
	padding-left: 1.8em;
	padding-right: 4em;
	margin-bottom: 1em;
}

footer section:nth-of-type(2) ul > li img{
	max-width: 40px;
}

footer > a{
	text-decoration: underline;
	text-decoration-thickness: .2em;	     /*https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-thickness */
	text-decoration-color: var(--color-footer-text);
	padding-bottom: 1em;
	text-underline-offset: 1em;			/*https://css-tricks.com/almanac/properties/t/text-underline-offset/#:~:text=The%20text%2Dunderline%2Doffset%20property,underlines%20from%20their%20initial%20position.&text=Once%20you%20apply%20an%20underline,text%2Dunderline%2Doffset%20property. */
	margin-left: 2.7em;
	text-transform: uppercase;
	font-size: 65%;
	border-bottom: 5em;
}