:root {
	--color-text:#ffffff;
	--color-hamburgerMenu: white;
	--color-background:#000000;
	--color-date: rgb(219, 209, 209);
	--color-footer-text:  rgb(219, 209, 209);
	--color-button: white;
	--color-buttontekst: #000000;
	--color-input: rgb(39, 36, 36);
	--color-border-nav: rgb(84, 84, 84);
}

section:nth-of-type(1) .h1{
    position: relative;
}


/* eerste section */


h1{
    position: absolute;
    margin-top: 3.7em;
    background-color: transparent;
    text-align: center;
    top: 0em;
    font-weight: 500;
}

main section:nth-of-type(1) img{
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-top: 2em;
}

main section:nth-of-type(1) figcaption{
    font-size: 85%;
    margin: 3em 2em 1em 1.8em;
}

main section:nth-of-type(1) figure{
    position: relative;
}

main section:nth-of-type(1) h2{
    position: absolute;
    top: 12.2em;
    padding: 0;
    margin-left: 1.2em;
    font-size: 120%;
    font-weight: 500;
}

main section:nth-of-type(1) a{
    padding-left: 2.5em;
    margin-bottom: 4em;
    text-decoration-color: var(--color-footer-text);
    text-decoration-thickness: 2em;
    font-size: 66%;
    text-decoration: underline;
    text-underline-offset: .5em;
    line-height: 4em;
    text-transform: uppercase;
}


/*carousel (tweede section)*/


main section:nth-of-type(2) h2{
    font-size: 115%;
    margin-left: 1.4em;
    margin-top: 3em;
}

main section:nth-of-type(2) ul{
    display: flex;                             /* probleem horizontale scroll */
    flex-direction: row;
    overflow-x: scroll;
    gap: 2em;

    scroll-snap-type: x mandatory;
    
    overscroll-behavior-x: contain;

}

main section:nth-of-type(2) ul > li{
    width: 100%;
    flex-shrink: 0;
    padding:.75em 1.5em;
    
    display: flex;
    flex-direction: column;
    gap:.5em;

    scroll-snap-align: center;

    /* voor de responsiveness */
    max-width: 40em;
}

main section:nth-of-type(2) li > a{
    margin-top: 1.5em;
    font-size: 66%;
    text-decoration: underline;
    text-underline-offset: .5em;
    line-height: 4em;
    text-transform: uppercase;
}

main section:nth-of-type(2) img {
    width: 100%;
	height: auto;
    order: -1;
}


/* Derde section */


main section:nth-of-type(3) li{
    position: relative;
    margin: 0;
}

main section:nth-of-type(3) h3{
    position: absolute;
    font-size: 175%;
    text-align: center;
    margin: 1em 1.7em 0em 1.7em;
    background-color: transparent;
}



main section:nth-of-type(3) a{
    position: absolute;
    margin-top: 15em;
    font-size: 75%;
    text-transform: uppercase;
    left: 10em;
    background-color: var(--color-button);
    color: var(--color-buttontekst);
    padding: 1.8em 2.9em 1.8em 2.9em;
}


/*Vierde section*/


main section:nth-of-type(4) h2{
    margin: 1em 0em 1em 1em;
} 

main section:nth-of-type(4) img{
    position: relative;
    padding-left: 1.3em;
    padding-right: 1.3em;
    margin-bottom: 6.5em;
}

main section:nth-of-type(4) figure{
    position: relative;
}

time{
    position: absolute;
    margin-right: 10em;
    margin-top: 20em;
    color: var(--color-date);
    text-transform: uppercase;
    font-size: 65%;
    left: 2em;
}

main section:nth-of-type(4) figcaption h5{
    position: absolute;
    margin-left: 1.2em;
    margin-right: 2em;
    margin-bottom: 5em;
    font-size: 110%;
    margin-top: 13em;
}