@font-face {
	font-family: "styrene-a_normal";
	src: url("../fonts/styrene-a_normal_400.woff") format('truetype');
	font-weight: 400;
}


@font-face {
	font-family: "styrene-a_normal";
	src: url("../fonts/styrene-a-med_normal_500.woff") format('truetype');
	font-weight: 500;
}


@font-face {
	font-family: "styrene-a_normal";
	src: url("../fonts/styrene-a_normal_700.woff") format('truetype');
	font-weight: 700;
}


*, *::after, *::before {
  box-sizing:border-box;  
}

:root {
	--color-text:#ffffff;
	--color-hamburgerMenu: white;
	--color-background:#000000;
	--color-date: rgb(219, 209, 209);
	--color-footer-text:  rgb(219, 209, 209);
	--color-button: white;
	--color-input: rgb(39, 36, 36);
}

*{
  margin: 0;
	color: var(--color-text);
	font-family: 'styrene-a_normal', Times, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background: var(--color-background)
}

/*hamburger menu*/

button{
	position: relative;
	border: none;
	background-color: transparent;
}

button > span{
	position: absolute;
	display: block;
	height: 0.15em;
	width: 1.8em;
	margin-left: 2em;
	background: var(--color-hamburgerMenu);
}

header button span:nth-of-type(1){
	transform: translateY(-.4em);
}

header button span:nth-of-type(2){
	transform: translateY(.05em);
}

header button span:nth-of-type(3){
	transform: translateY(.5em);
}

header {
	padding:0em;
	display:flex;
	justify-content:start;
	gap:12em;
	z-index: 9999;
	position: relative;
}

header > a {
	z-index:100;
}

header > button {
	z-index:100;
}

header nav {
	position:fixed;
	inset:0;
	transform:translateX(100%);
	transition:.3s;
	background-color: var(--color-background);
}

header nav.open {
	transform:translateX(0%);
}

header img{
  	height: auto;
	width: 6em;
	margin: 1.5em 0em 1em 1.2em;
}

header nav li{
	padding-left: 2em;
	font-size: 120%;
	line-height: 3em;
}

header nav form{
	padding-top: 3.5em;
	padding-left: 4em;
}

/* nav li input{
	border: var(--color-input) solid;
} */

header li > img{
	margin: 1.5em 0em 1em 1.2em;
	width: 6em;
}

h1{
    font-size: 170%;
}

ul {
	list-style: none;
	margin:0;
	padding:0;
}

img {
	max-width:100%;
}

a{
	text-decoration: none;
}


/*footer*/



footer a > img{
    max-width: 55%;
	max-height: auto;
	padding: 1.5em 0em 2em .5em;
}

footer > h5{
	font-size: 130%;
	margin: 1em 0em .5em 1.1em;
}

footer > p{
	margin-left: 1.8em;
	margin-right: 1.5em;
	font-size: 85%;
	color: var(--color-footer-text)
}

footer > form{
	margin: 1.8em;
	border: var(--color-input) solid;			/* https://www.thoughtco.com/style-forms-with-css-3464316#:~:text=An%20easy%20way%20to%20change,9cf)%20on%20all%20the%20elements. */
}

footer input{
	background-color: var(--color-input);
	padding: 1em 11em 1em 1em;
}

footer > button{
	background-color: var(--color-button);
	color: var(--color-background);
	margin: 2em;
}

.exploreCareers{
	display: block;
	padding: 1.4em 1.7em 1.4em 1.7em;
	text-transform: uppercase;
}

section:last-of-type p{
	margin: 7em 1.8em 1.8em 2.5em;
	color: var(--color-footer-text);
	font-size: 74%;
}

footer > ul{                          /*  https://www.w3docs.com/snippets/html/how-to-display-an-unordered-list-in-two-columns.html */
	margin: 0em 1.8em 0em 1.8em;
	columns: 2;
}

footer > ul li{
	margin-bottom: 1.5em;
}


footer > a{
	text-decoration: underline;
	margin-left: 2.5em;
	text-transform: uppercase;
	font-size: 65%;
}